<div
  class="md:h-[100vh] sm:h-[70vh] w-full relative"
  style="
    background-image: url('/assets/hero.png');
    background-size: cover;
    background-repeat: no-repeat;
  "
>
  <div class="max-w-[1140px] mx-auto py-20">
    <div class="grid md:grid-cols-2">
      <div class="flex flex-col px-2 w-full">
        <h3
          class="text-white md:text-xl sm:mx-auto md:mx-0 sm:text-sm md:pb-8 sm:pb-3 pt-4"
        >
          GAMING
        </h3>
        <h1
          class="text-white sm:mx-auto md:mx-0 lg:text-6xl md:4xl sm:text-2xl font-bold md:py-3"
        >
          PLAYSTATION 5
        </h1>
        <h3
          class="text-white sm:mx-auto md:mx-0 md:text-xl sm:text-sm font-semibold md:py-3 md:pb-6 sm:py-0"
        >
          Want something to take boring hangouts and have fun playing your
          favourite game
        </h3>
        <h3 class="md:text-3xl text-white md:py-5 sm:py-3 md:mx-0 sm:mx-auto">
          N450,000
        </h3>
        <div class="sm:mx-auto flex gap-3 md:mx-0">
          <button
            class="items-center text-white sm:mx-auto md:mx-0 bg-blue-400 md:p-5 sm:p-2 rounded-full mr-4 hover:bg-blue-500"
          >
            Add to cart
          </button>
          <button
            class="items-center text-white md:p-5 sm:p-3 border-2 border-blue-400 py-3 hover:bg-blue-400"
          >
            More like this
          </button>
        </div>
      </div>
      <div class="lg:w-full hidden md:flex md:w-[350px]">
        <img
          src="/assets/ps5.png"
          alt=""
          class="w-full h-[500px] background-none"
        />
      </div>
    </div>
    <div
      class="h-[132px] absolute bottom-0 max-w-[1060px] w-full p-3 mx-auto bg-[#56497A] items-center justify-center rounded-lg"
    >
      <div class="flex justify-between items-center py-7">
        <div class="flex gap-4 text-white px-4">
          <div class="flex flex-col">
            <div class="font-bold">PREV</div>
            <div>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="26"
                height="16"
                fill="currentColor"
                class="bi bi-arrow-left"
                viewBox="0 0 16 16"
              >
                <path
                  fill-rule="evenodd"
                  d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"
                />
              </svg>
            </div>
          </div>
          <div class="flex flex-col">
            <div class="font-bold">NEXT</div>
            <div>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="26"
                height="16"
                fill="currentColor"
                class="bi bi-arrow-left"
                viewBox="0 0 16 16"
              >
                <path
                  fill-rule="evenodd"
                  d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"
                />
              </svg>
            </div>
          </div>
        </div>

        <div class="px-5">
          <button
            class="border-2 border-white text-white px-4 items-center text-center rounded-md"
          >
            Add to wishlist
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
