<div class="h-auto max-w-[1140px] w-full mx-auto py-20">
  <h3 class="py-3 px-8 font-bold text-2xl border-b-2 border-b-gray mb-5">
    Shop deals by categories
  </h3>
  <div class="grid lg:grid-cols-3 md:grid-cols-2 sm:grid-cols-1 gap-2 mx-auto">
    <div
      class="bg-[#FFE2E5] mx-auto w-[300px] rounded-lg h-auto hover:scale-105 ease-in duration-300"
    >
      <div class="" routerLink="/cat/electronics">
        <img
          src="assets/electronics.png"
          class="w-[270px] h-[270px] p-4"
          alt=""
        />
      </div>
      <div class="flex flex-col p-3 text-white">
        <h3 class="py-2 text-black font-bold">ELECTRONICS</h3>
        <button
          class="text-[#F64E60] font-bold w-[122px] bg-[#ffffff] items-center p-2 py-2 rounded-lg"
          routerLink="/cat/electronics"
        >
          View more
        </button>
      </div>
    </div>
    <div
      class="bg-[#FFEBB4] mx-auto w-[300px] rounded-lg h-auto hover:scale-105 ease-in duration-300"
    >
      <div class="" routerLink="/cat/lifestyle">
        <img
          src="assets/lifestyle.png"
          class="w-[270px] h-[270px] p-4"
          alt=""
        />
      </div>
      <div class="flex flex-col p-3 text-white">
        <h3 class="py-2 text-black font-bold">LIFESTYLES</h3>
        <button
          class="text-[#FFEBB4] font-bold w-[122px] bg-[#ffffff] items-center p-2 py-2 rounded-lg"
          routerLink="/cat/lifestyle"
        >
          View more
        </button>
      </div>
    </div>
    <div
      class="bg-[#EEEFFF] hover:scale-105 ease-in duration-300 mx-auto w-[300px] rounded-lg h-auto"
    >
      <div class="" routerLink="/cat/drinks">
        <img src="assets/wine.png" class="w-[270px] h-[270px] p-4" alt="" />
      </div>
      <div class="flex flex-col p-3 text-white">
        <h3 class="py-2 text-black font-bold">Wine and Spirits</h3>
        <button
          class="text-[#F64E60] w-[122px] bg-[#ffffff] items-center p-2 py-2 rounded-lg"
          routerLink="/cat/wine"
        >
          View more
        </button>
      </div>
    </div>
    <div
      class="bg-[#8DFFBB] hover:scale-105 ease-in duration-300 mx-auto w-[300px] rounded-lg h-auto"
    >
      <div class="" routerLink="/cat/gadgets">
        <img src="assets/game.png" class="w-[270px] h-[270px] p-4" alt="" />
      </div>
      <div class="flex flex-col p-3 text-white">
        <h3 class="py-2 text-black font-bold">Phone and Laptops</h3>
        <button
          class="text-[#8DFFBB] font-bold w-[122px] bg-[#ffffff] items-center p-2 py-2 rounded-lg"
          routerLink="/cat/gadgets"
        >
          View more
        </button>
      </div>
    </div>
    <div
      class="bg-[#EDEDED] hover:scale-105 ease-in duration-300 mx-auto w-[300px] rounded-lg h-auto"
    >
      <div class="" routerLink="/cat/grocery">
        <img src="assets/food.png" class="w-[270px] h-[270px] p-4" alt="" />
      </div>
      <div class="flex flex-col p-3 text-white">
        <h3 class="py-2 text-black font-bold">GROCERY</h3>
        <button
          class="text-[#EDEDED] font-bold w-[122px] bg-[#ffffff] items-center p-2 py-2 rounded-lg"
          routerLink="/cat/grocery"
        >
          View more
        </button>
      </div>
    </div>
    <div
      class="bg-[#9CC7FE] hover:scale-105 ease-in duration-300 mx-auto w-[300px] rounded-lg h-auto"
    >
      <div class="" routerLink="/cat/beauty">
        <img src="assets/beauty.png" class="w-[270px] h-[270px] p-4" alt="" />
      </div>
      <div class="flex flex-col p-3 text-white">
        <h3 class="py-2 text-black font-bold text-2xl">BEAUTY AND HEALTH</h3>
        <button
          class="text-[#9CC7FE] font-bold w-[122px] bg-[#ffffff] items-center p-2 py-2 rounded-lg"
          routerLink="/cat/beauty"
        >
          View more
        </button>
      </div>
    </div>
  </div>
</div>
