<div class="lg:h-[50vh] w-full py-20">
  <div class="max-w-[1140px] mx-auto py-20">
    <div class="grid md:grid-cols-2 gap-2">
      <div class="bg-[#FFD3FD] w-full h-auto mx-auto rounded-lg">
        <div class="flex">
          <div class="flex flex-col p-3">
            <h4 class="px-2 py-2 font-bold">Deal of the day</h4>
            <p class="p-2 text-xs font-bold py-3">
              Lorem ispodem Lorem ispodem Lorem ispodem Lorem ispodem Lorem
              ispodem Lorem ispodem
            </p>
            <p class="font-bold p-2">N45,000</p>
            <button
              class="text-[#FF17F4] font-bold w-[122px] bg-[#ffffff] items-center p-2 py-2 rounded-lg"
            >
              Add to Cart
            </button>
          </div>
          <div
            class="w-full h-full py-3 items-center mx-auto justify-center px-6 text-center"
          >
            <img
              src="/assets/exp3.png"
              class="border border-red-300 h-[200px] w-[200px] bg-cover"
              alt=""
            />
          </div>
        </div>
      </div>
      <div class="bg-[#FFE4D0] w-full h-auto mx-auto rounded-lg">
        <div class="flex">
          <div class="flex flex-col p-3">
            <h4 class="px-2 py-2 font-bold">Deal of the day</h4>
            <p class="p-2 text-xs font-bold py-3">
              Lorem ispodem Lorem ispodem Lorem ispodem Lorem ispodem Lorem
              ispodem Lorem ispodem
            </p>
            <p class="font-bold p-2">N45,000</p>
            <button
              class="text-[#FFE4D0] font-bold w-[122px] bg-[#ffffff] items-center p-2 py-2 rounded-lg"
            >
              Add to Cart
            </button>
          </div>
          <div
            class="w-full h-full py-3 items-center mx-auto justify-center px-6 text-center"
          >
            <img
              src="/assets/exp2.png"
              class="border border-red-300 h-[200px] w-[200px] bg-cover"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
